
<h2>{{model.category.name}}  in  {{model.city.name}}</h2>
{{listing-list listings=model.listings city=model.city category=model.category}}
{{new-listing sendListing="saveListing" city=model.city category=model.category}}
