
<h1>{{model.category.name}} {{model.city.name}}</h1>
{{listing-list listings=model.listings city=model.city category=model.category}}
{{new-listing sendListing="saveListing" city=model.city category=model.category}}
